{% extends "layout.html" %} {% block pageHeader %}{% load staticfiles %}
<h1>
  主页
  <small></small>
</h1>
<ol class="breadcrumb">
  <li>
    <a href="#">
      <i class="fa fa-dashboard"></i> 主页</a>
  </li>
  <li class="active"></li>
</ol>
{% endblock %} {% block nave %}
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">应用</li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-link"></i>
      <span>主数据</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="{% url 'products' %}">产品</a>
      </li>
      <li>
        <a href="#">联系人</a>
      </li>
    </ul>
  </li>
  <li>
    <li>
      <a href="#">
        <i class="fa fa-wrench"></i>
        <span>制造</span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a href="#">Link in level 2</a>
        </li>
        <li>
          <a href="#">Link in level 2</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-shopping-cart "></i>
        <span>采购</span>
      </a>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-window-maximize "></i>
        <span>库存</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a href="#">Link in level 2</a>
        </li>
        <li>
          <a href="#">Link in level 2</a>
        </li>
      </ul>
    </li>
</ul>
{% endblock %} {% block content %}
<!-- 模态框（Modal） -->
<style>
  .modal-dialog {
    vertical-align: middle;
    width: 90%;
  }

  .form-self {
    width: 100% !important;
  }
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          修改产品
        </h4>
      </div>
      <div class="modal-body">

        <div style="padding: 10px 10px 10px;margin:10px 10px 10px;widows: 100px;">
          <form class="form-inline row" role="form">
            <div class="form-group col-sm-5" style="margin:10px 10px 10px 10px;">
              <label class="form-label" for="editId">产品编号：</label>
              <input type="text" id="editId" class="form-control form-self">
            </div>
            <div class="form-group col-sm-6" style="margin:10px 10px 10px 10px;">
              <label for="editName">产品名称：</label>
              <input type="text" id="editName" class="form-control form-self">
            </div>
            <div class="form-group col-sm-5" style="margin:10px 10px 10px 10px;">
              <label for="editSpec">品牌：</label>
              <input type="text" id="editSpec" class="form-control form-self">
            </div>
            <div class="form-group col-sm-6" style="margin:10px 10px 10px 10px;">
              <label for="editSpec">型号：</label>
              <input type="text" id="editSpec" class="form-control form-self">
            </div>
          </form>
        </div>
        <div class="box-body col-sm-12">
          <table id="bomItems" class="table table-bordered table-striped dispalay" style="white-space: nowrap; ">
            <thead>
              <tr>
                <th>ID</th>
                <th>产品编号</th>
                <th>产品名称</th>
                <th>型号</th>
                <th>品牌</th>
                <th>单位</th>
                <th>数量</th>
                <th>修改时间</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>产品编号</th>
                <th>产品名称</th>
                <th>型号</th>
                <th>品牌</th>
                <th>单位</th>
                <th>数量</th>
                <th>修改时间</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary">
          提交更改
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal -->
</div>
<!-- 模态框结束 -->
<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="搜索...">
      <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
{% endblock %} {% block scripts %}
<!-- DataTables -->
<link rel="stylesheet" href="{%static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'bower_components/datatables.net-bs/css/jquery.dataTables.css'%}">

<link rel="stylesheet" href="{%static 'bower_components/datatables.net-bs/css/buttons.dataTables.min.css'%}">
<!-- <link rel="stylesheet" href="{%static 'bower_components/datatables.net-bs/css/buttons.bootstrap.min.css"> -->

<link rel="stylesheet" href="{%static 'bower_components/datatables.net/editor/css/editor.dataTables.min.css'%}">
<!-- <link rel="stylesheet" href="{%static 'bower_components/datatables.net/editor/demo.css">
<link rel="stylesheet" href="{%static 'bower_components/datatables.net/editor/shCore.css"> -->
<!-- DataTables -->
<script src="{%static 'bower_components/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net/js/dataTables.select.min.js'%}"></script>

<script src="{%static 'bower_components/datatables.net/js/buttons.colVis.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net/js/buttons.html5.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net/js/buttons.print.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net/js/jszip.min.js'%}"></script>


<link rel="stylesheet" href="{%static 'bower_components/datatables.net/editor/js/dataTables.editor.min.js'%}">
<!-- <link rel="stylesheet" href="{%static 'bower_components/datatables.net/editor/demo.js'%}">
<link rel="stylesheet" href="{%static 'bower_components/datatables.net/editor/editor-demo.js'%}"> -->
<!-- SlimScroll -->
<script src="{%static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js'%}"></script>
<!-- FastClick -->
<script src="{%static 'bower_components/fastclick/lib/fastclick.js'%}"></script>

<script type="text/javascript" charset="utf8" src="{%static 'bower_components/datatables.net/js/dataTables.buttons.min.js'%}"></script>

<script>    
  $(document).ready(function () {
    //模态框 点击空白处窗口不关闭
    $('#myModal').modal({ backdrop: 'static', show: false });

    //实时内容搜索
    $("#search2").on('input', function () {
      var a = $("#search2").val()
      $.ajax({
        //type: "GET",
        type: "POST",
        url: "{% url 'getdata' %}",
        data: {
          'a': a,
        },
        success: function (ret) {
          $('#result').html(ret)
        },
      })
    })
    /*测试项，工作正常
    $(document).ready(function () {
      $("#sum").click(function () {
          var a = $("#a").val()
          var b = $("#b").val()
          
          $.ajax({
              type: "POST",
              url: "{% url 'getdata' %}",
              data: {
                  'a': a,
                  'b': b,
              },
              success: function (ret) {
                  $('#result').html(ret)
              }
          })
      })
  })*/

    $('#example1').DataTable({
      "sScrollX": "100%",
      "sScrollXInner": "100%",
      "bScrollCollapse": true,
      "autoWidth": true,
      select: true,
      dom: 'Bfrtip',
      buttons: [
        { extend: 'copy', text: '复制', copyTitle: '表格已复制', success: "已复制 %d 行到剪贴板" },
        'excel',
        { extend: 'print', text: '打印' }
      ],
      "autoWidth": true,
      "ajax": "{% url 'getdata' %}",
      columns: [
        {
          "data": "id",
          "bVisible": false
        },
        { "data": "productId" },
        { "data": "productName" },
        { "data": "specification" },
        { "data": "productBrand" },
        { "data": "modified" }
      ],
      "bInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "language": {
        "infoEmpty": "没有记录可以显示",
        "info": "共_TOTAL_条记录",
        "sZeroRecords": "没有匹配结果",
        "loadingRecords": "数据正在加载中......",
        "processing": "正在处理中......",
        "search": "结果中搜索:",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "oPaginate": {
          "sFirst": "首页",
          "sPrevious": "上页",
          "sNext": "下页",
          "sLast": "末页"
        },
        "sEmptyTable": "未找到相关数据",
      },
    });


    $('#bomItems').DataTable({
      "sScrollX": "100%",
      "sScrollXInner": "100%",
      "bScrollCollapse": true,
      "autoWidth": true,
      select: true,
      dom: 'Bfrtip',
      buttons: [
        { extend: 'copy', text: '复制', copyTitle: '表格已复制', success: "已复制 %d 行到剪贴板" },
        'excel',
        { extend: 'print', text: '打印' }
      ],
      "autoWidth": true,
      columns: [
        {
          "data": "id",
          "bVisible": false,
          "defaultContent": ""
        },
        {
          "data": "productId",
          "defaultContent": ""
        },
        {
          "data": "productName",
          "defaultContent": ""
        },
        {
          "data": "specification",
          "defaultContent": ""
        },
        {
          "data": "productBrand",
          "defaultContent": ""
        },
        { "data": "unit" },
        { "data": "itemCount" },
        {
          "data": "modified",
          "defaultContent": ""
        }
      ],
      "bInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "language": {
        "infoEmpty": "没有记录可以显示",
        "info": "共_TOTAL_条记录",
        "sZeroRecords": "没有匹配结果",
        "loadingRecords": "数据正在加载中......",
        "processing": "正在处理中......",
        "search": "结果中搜索:",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "oPaginate": {
          "sFirst": "首页",
          "sPrevious": "上页",
          "sNext": "下页",
          "sLast": "末页"
        },
        "sEmptyTable": "未找到相关数据",
      },
    });

    var table = $('#example1').DataTable();

    $('#example1').on('dblclick', 'td', function () {
      //console.log(table.row(this).text()//.columns().data())
      $.ajax({
        type: "POST",
        url: "{% url 'getBom' %}",
        data: {
          'id': table.row(this).data().id,
        },
        //dataType:'json',
        success: function (ret) {
          $('#myModal').modal({ show: true });
          var subtable = $('#bomItems').DataTable();
          subtable.clear().draw();
          console.log(ret);
          //subtable.ajax.url(ret).load();
          jsdata = $.parseJSON(ret);
          //console.log(jsdata[0].productId);
          var b = jsdata.length;
          var i;
          for (i = 0; i < b; i++) {
            console.log(jsdata[i].productId + " : " + jsdata[i].productName);
            subtable.row.add({
              "id": jsdata[i].id,
              "productId": jsdata[i].productId,
              "productName": jsdata[i].productName,
              "specification": jsdata[i].specification,
              "productBrand": jsdata[i].productBrand,
              "itemCount": jsdata[i].itemCount,
              "unit": jsdata[i].unit,
              "modified": jsdata[i].modified,
            }).draw();
            //console.log(table.rows().data()[1][1]);
            //subtable.row.data.//['jsdata[i].productId','jsdata[i].productName']).draw();
          }
          subtable.order([1, 'asc']).draw();
        },
        error: function () {
          console.log('error');
        }

      })

      //$('#myModal').modal({ show: true });
      //table.cell(this).data("1").draw();
      //alert(table.cell(this).data());
      /*var inst = $('[data-remodal-id=modal]').remodal();
      inst.open();
      document.getElementById("modi-content").innerHTML = '<table align="center"><tr><td>原数据：</td><td>' + table.cell( this ).data() + '</td></tr><tr><td>新数据：</td><td><input type="text" style ="width:300px;" value='+ table.cell( this ).data() +' /></td></tr></table>';
  */
    });
  })
</script> {% endblock %}