{% if user.is_authenticated %}

<form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right dropdown">
                <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href=''>您好， {{user.last_name}}{{ user.first_name }}</a>
            <div class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'account' %}">管理账号</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
            </div>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{% url 'login' %}">登录</a>
    </li>
</ul>

{% endif %}