{% extends "layout.html" %} 
{% block acstore %}active{% endblock %}
{% block pageHeader %}{% load staticfiles %}
<h1>
  入库
  <small></small>
</h1>
<ol class="breadcrumb">
  <li>
    <a href="#">
      <i class="fa fa-dashboard"></i> 仓库</a>
  </li>
  <li class="active">入库</li>
</ol>
{% endblock %}
{% block content %}
{#modal#}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          修改产品
        </h4>
      </div>
<div class="modal-body">

  <div style="padding: 10px 10px 10px;margin:10px 10px 10px;widows: 100px;">
    <form class="form-inline row" role="form">
      <div class="form-group" style="margin:10px 10px 10px 10px;">
        <label class="form-label" for="searchId">产品编号：</label>
        <input type="text" id="searchId" class="form-control form-self">
      </div>
      <div class="form-group" style="margin:10px 10px 10px 10px;">
        <label for="searchName">产品名称：</label>
        <input type="text" id="searchName" class="form-control form-self">
      </div>
      <div class="form-group" style="margin:10px 10px 10px 10px;">
        <label for="searchBrand">品牌：</label>
        <input type="text" id="searchBrand" class="form-control form-self">
      </div>
      <div class="form-group" style="margin:10px 10px 10px 10px;">
        <label for="searchSpec">型号：</label>
        <input type="text" id="searchSpec" class="form-control form-self">
      </div>
      <div class="form-group" style="margin:10px 10px 10px 10px;">
        <label for="searchNote">备注：</label>
        <input type="text" id="searchNote" class="form-control form-self">
      </div>   
      <button type="button" id="searchButton" class="btn btn-primary">
        搜索
      </button>
    </form>
  </div>
  <div class="box-body col-sm-12">
    <table id="productItems" class="table table-bordered table-striped dispalay" style="white-space: nowrap; ">
      <thead>
        <tr>
          <th>ID</th>
          <th>产品编号</th>
          <th>产品名称</th>
          <th>型号</th>
          <th>品牌</th>
          <th>单位</th>
          <th>数量</th>
          <th>修改时间</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>产品编号</th>
          <th>产品名称</th>
          <th>型号</th>
          <th>品牌</th>
          <th>单位</th>
          <th>数量</th>
          <th>修改时间</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
</div>
</div>
</div>
{#endmodal#}

<div class="modal-body">

  <div style="padding: 10px 10px 10px;margin:10px 10px 10px;widows: 100px;">
    <form class="form-inline row" role="form">
      <div class="form-group" style="margin:10px 10px 10px 10px;">
        <label class="form-label" for="receiptId">送货单号：</label>
        <input type="text" id="receiptId" class="form-control form-self">
      </div>
      <div class="form-group" style="margin:10px 10px 10px 10px;">
        <label for="vendor">供应商：</label>
        <input type="text" id="vendor" class="form-control form-self">
      </div>
      <button type="button" id="searchButton" class="btn btn-primary">
        入库
      </button>
    </form>
  </div>
  
  <div class="box-body col-sm-12">
      <div>
          <ul class="nav nav-list"><li class="divider"></li>    </ul>
        <button type="button" id="addPButton" class="btn btn-primary">
          添加产品
        </button>
        <button type="button" id="importPButton" class="btn btn-primary">
          从采购单导入
        </button>
      </div>
    <table id="storeItems" class="table table-bordered table-striped dispalay" style="white-space: nowrap; ">
      <thead>
        <tr>
          <th>ID</th>
          <th>产品编号</th>
          <th>产品名称</th>
          <th>型号</th>
          <th>品牌</th>
          <th>单位</th>
          <th>数量</th>
          <th>修改时间</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>产品编号</th>
          <th>产品名称</th>
          <th>型号</th>
          <th>品牌</th>
          <th>单位</th>
          <th>数量</th>
          <th>修改时间</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

{% endblock %} {% block scripts %}
<!-- DataTables -->
<link rel="stylesheet" href="{%static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'bower_components/datatables.net-bs/css/jquery.dataTables.css'%}">

<link rel="stylesheet" href="{%static 'bower_components/datatables.net-bs/css/buttons.dataTables.min.css'%}">
<!-- <link rel="stylesheet" href="static/bower_components/datatables.net-bs/css/buttons.bootstrap.min.css"> -->

<link rel="stylesheet" href="{%static 'bower_components/datatables.net/editor/css/editor.dataTables.min.css'%}">
<!-- <link rel="stylesheet" href="static/bower_components/datatables.net/editor/demo.css">
<link rel="stylesheet" href="static/bower_components/datatables.net/editor/shCore.css"> -->
<!-- DataTables -->
<script src="{%static 'bower_components/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net/js/dataTables.select.min.js'%}"></script>

<script src="{%static 'bower_components/datatables.net/js/buttons.colVis.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net/js/buttons.html5.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net/js/buttons.print.min.js'%}"></script>
<script src="{%static 'bower_components/datatables.net/js/jszip.min.js'%}"></script>


<link rel="stylesheet" href="{%static 'bower_components/datatables.net/editor/js/dataTables.editor.min.js'%}">
<!-- <link rel="stylesheet" href="static/bower_components/datatables.net/editor/demo.js">
<link rel="stylesheet" href="static/bower_components/datatables.net/editor/editor-demo.js"> -->
<!-- SlimScroll -->
<script src="{%static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js'%}"></script>
<!-- FastClick -->
<script src="{%static 'bower_components/fastclick/lib/fastclick.js'%}"></script>

<script type="text/javascript" charset="utf8" src="{%static 'bower_components/datatables.net/js/dataTables.buttons.min.js'%}"></script>

<script>    
  $(document).ready(function () {
    //模态框 点击空白处窗口不关闭
    $('#myModal').modal({ backdrop: 'static', show: false });
    //模态框 点击空白处窗口不关闭
    //$('#myModal').modal({ backdrop: 'static', show: false });

    //实时内容搜索
    /*$("#search2").on('input', function () {
      var a = $("#search2").val()
      $.ajax({
        //type: "GET",
        type: "POST",
        url: "{% url 'getdata' %}",
        data: {
          'a': a,
        },
        success: function (ret) {
          $('#result').html(ret)
        },
      })
    });*/
    /*测试项，工作正常
    $(document).ready(function () {
      $("#sum").click(function () {
          var a = $("#a").val()
          var b = $("#b").val()
          
          $.ajax({
              type: "POST",
              url: "{% url 'getdata' %}",
              data: {
                  'a': a,
                  'b': b,
              },
              success: function (ret) {
                  $('#result').html(ret)
              }
          })
      })
  })*/

    $('#storeItems').DataTable({
      "sScrollX": "100%",
      "sScrollXInner": "100%",
      "bScrollCollapse": true,
      "autoWidth": true,
      select: true,
      dom: 'Bfrtip',
      buttons: [
        {text: '添加零件',
        action: function ( e, dt, node, config ) {
          cons
      }},
        'excel',
      ],
      "autoWidth": true,
      columns: [
        {
          "data": "id",
          "bVisible": false
        },
        { "data": "productId",
        "defaultContent": "" },
        { "data": "productName",
        "defaultContent": "" },
        { "data": "specification",
        "defaultContent": "" },
        { "data": "productBrand",
        "defaultContent": "" },
        { "data": "itemCount",
        "defaultContent": "" },
        { "data": "unit",
        "defaultContent": "" },
        { "data": "modified",
        "defaultContent": "" },
      ],
      "bInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
      "language": {
        "infoEmpty": "没有记录可以显示",
        "info": "共_TOTAL_条记录",
        "sZeroRecords": "没有匹配结果",
        "loadingRecords": "数据正在加载中......",
        "processing": "正在处理中......",
        "search": "搜索:",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "oPaginate": {
          "sFirst": "首页",
          "sPrevious": "上页",
          "sNext": "下页",
          "sLast": "末页"
        },
        "sEmptyTable": "未找到相关数据",
      },
    });

    $("#addp").click(function () {
      console.log("123213");
    });

    $("#searchButton").click(function () {
      var searchId = $("#searchId").val()
      var searchName = $("#searchName").val()
      var searchBrand = $("#searchBrand").val()
      var searchSpec = $("#searchSpec").val()
      var searchNote = $("#searchNote").val()
      
      $.ajax({
          type: "POST",
          url: "{% url 'searchP' %}",
          data: {
              'searchId': searchId,
              'searchName': searchName,
              'searchBrand': searchBrand,
              'searchSpec': searchSpec,
              'searchNote': searchNote,
          },
          success: function (ret) {
            console.log(ret)
            var subtable = $('#storeItems').DataTable();
            subtable.clear().draw();
            console.log(ret);
            //subtable.ajax.url(ret).load();
            jsdata = $.parseJSON(ret);
            //console.log(jsdata[0].productId);
            var b = jsdata.length;
            var i;
            for (i = 0; i < b; i++) {
              console.log(jsdata[i].productId + " : " + jsdata[i].productName);
              subtable.row.add({
                "id": jsdata[i].id,
                "productId": jsdata[i].productId,
                "productName": jsdata[i].productName,
                "specification": jsdata[i].specification,
                "productBrand": jsdata[i].productBrand,
               // "itemCount": jsdata[i].itemCount,
                //"unit": jsdata[i].unit,
                "modified": jsdata[i].modified,
              }).draw();
              //console.log(table.rows().data()[1][1]);
              //subtable.row.data.//['jsdata[i].productId','jsdata[i].productName']).draw();
            }
            subtable.order([1, 'asc']).draw();
          },
          error: function () {
            console.log('error');
          }
      })
  })
/*
    var table = $('#example1').DataTable();

    $('#example1').on('dblclick', 'td', function () {
      //console.log(table.row(this).text()//.columns().data())
      $.ajax({
        type: "POST",
        url: "{% url 'getBom' %}",
        data: {
          'id': table.row(this).data().id,
        },
        //dataType:'json',
        success: function (ret) {
          $('#myModal').modal({ show: true });
          var subtable = $('#bomItems').DataTable();
          subtable.clear().draw();
          console.log(ret);
          //subtable.ajax.url(ret).load();
          jsdata = $.parseJSON(ret);
          //console.log(jsdata[0].productId);
          var b = jsdata.length;
          var i;
          for (i = 0; i < b; i++) {
            console.log(jsdata[i].productId + " : " + jsdata[i].productName);
            subtable.row.add({
              "id": jsdata[i].id,
              "productId": jsdata[i].productId,
              "productName": jsdata[i].productName,
              "specification": jsdata[i].specification,
              "productBrand": jsdata[i].productBrand,
              "itemCount": jsdata[i].itemCount,
              "unit": jsdata[i].unit,
              "modified": jsdata[i].modified,
            }).draw();
            //console.log(table.rows().data()[1][1]);
            //subtable.row.data.//['jsdata[i].productId','jsdata[i].productName']).draw();
          }
          subtable.order([1, 'asc']).draw();
        },
        error: function () {
          console.log('error');
        }

      })*/

      //$('#myModal').modal({ show: true });
      //table.cell(this).data("1").draw();
      //alert(table.cell(this).data());
      /*var inst = $('[data-remodal-id=modal]').remodal();
      inst.open();
      document.getElementById("modi-content").innerHTML = '<table align="center"><tr><td>原数据：</td><td>' + table.cell( this ).data() + '</td></tr><tr><td>新数据：</td><td><input type="text" style ="width:300px;" value='+ table.cell( this ).data() +' /></td></tr></table>';
  */
  })
</script> {% endblock %}